.register {
  width: 100%;
  max-width: 1120px;
  height: 100vh;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.register-cnt {
  width: 100%;
  padding: 96px;
  background-color: #f0f0f5;
  box-shadow: 0 0 100px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.register-content {
  width: 100%;
  max-width: 380px;
}

.register-title {
  margin: 64px 0 32px;
  font-size: 32px;
}

.register-text {
  font-size: 18px;
  color: #737380;
  line-height: 32px;
}

.register-form {
  width: 100%;
  max-width: 450px;
}

.register-form_input {
  margin-top: 8px;
}

.register-form_city {
  display: flex;
}

.register-form_input-sm {
  margin-left: 8px;
  max-width: 80px;
}